body {
  padding: 30px;
}

.title {
  text-align: right;
  font-weight: 500;
  font-size: 1.8rem;
  font-family: 'Rubik', sans-serif;
}

.header {
  text-align: right;
  font-size: 1.5rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  padding-bottom: 20px;
}

.description {
  font-family: 'Rubik', sans-serif;
  margin-bottom: 30px;
}

.dscrpt_title {
  font-size: 1.5rem;
}

.dscrpt_subtitle {
  font-size: 1rem;
  font-style: italic;
}

.dscrpt_subtitle span{
  color:black;
  background-color: #e6e6e6;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.picture {
  min-width: 100px;
}

.place {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

img {
  width: 400px;
}

.githubImg {
  width: 1.1rem;
  vertical-align: text-top;
}

.githubLink {
  background-color: #cce6ff;
  color: black;
  white-space: nowrap;
}

.project {
    border-radius: 20%;
    width: 80px;
}

.area {
  color:black;
  background-color: #e6e6e6;
}

.tech {
  opacity: 0.7;
  background-color: #e6e6e6;
}

.summary {
  text-align: justify;
}

.info {
}

// link

.dscrpt_title a, .dscrpt_title a:visited {
    color: !important;
}

.dscrpt_title a:hover, .dscrpt_title a:active {
    color: black !important;
}

.dscrpt_title a {
    color: black !important;
}

.title a, .title a:visited {
    color: !important;
}

.title a:hover, .title a:active {
    color: black !important;
    text-decoration: none;
}

.title a {
    color: black !important;
}

.status {
  background-color: #cceab6;
}

.back {
  text-align: right;
}
